body{
	margin: 0;
	font-family: 'Lato', sans-serif;
}

*{
	box-sizing: border-box; 
}
a, button{

	transition: color 0.3s;
}
a:link{
	text-decoration: none;
	color: #fff;
}
a:visited{
  	color: #fff;
}
a:hover{
  	color: #f06c64;
}

.wrapper-center {
	position: relative;
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 67px;
	padding-right: 10px;	
	padding-bottom: 41px;
	padding-left: 10px;
}
.header-wrapper {
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
  	font-size: 12px;
}
.header-wrapper .wrapper-center{
	padding: 0;
}
.header-logo{
	display: inline-block;
  	padding: 24px 0px 21px 41px;
  	font-size: 25px;
  	font-weight: 700;
  	color: #fff;
  	text-transform: uppercase;
}
.header-logo span{
	color: #f06c64;
}
.header-nav {
	display: inline-block;
	position: absolute;
  	top: 33px;
  	right: 0px;
}
.header-nav ul{
    text-align: right;
    margin: 0;
    padding: 0;
	text-transform: uppercase;
	list-style-type: none;

}
.header-nav li{
	display: inline-block;
	margin-right: 14px;
}
.nav-bullet{
	color: #494e62;
}
.menu-list{
	display: none;
	cursor: pointer;
  	margin-top: -15px;
 	margin-right: 20px;
}

.homepage{
	position: relative;
	background-color: #f06c64;
	/*height: 530px;*/
	overflow: hidden;
	transition: background 3s ease;
    -webkit-user-select: none;
}
.title-content{
	width: 100%;
}
.title-content img:last-child {
	margin-left: 60px;
}
.slider{
	width:100%;
}
.slider-container{
	position: relative;
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
	overflow: hidden;
}
.slider-nav{
	position: absolute;/*
  	text-align: center;*/
  	top: 272px;
  	width: 100%;
	cursor: pointer;
	z-index: 100;
	opacity: .6;
}
.slider-nav:hover{
	opacity: 1;
}
.slider-nav--prev{
	position: absolute;
	left: 14%;
}
.slider-nav--next{
	position: absolute;
	right: 14%;
}
.pointer-hidden {
  pointer-events: none;
}
.slider-image{
	display: inline-block;
	text-align: center;
	padding-top: 53px;
  	padding-bottom: 58px;
	background-size: cover;
}
.slider-image[data-number='1']{
	/*background-color: #f06c64;*/
}

.services-page{
	background-color: #f2f2f2;
	border-bottom: 6px solid #fff;
}
/*.padding-content{
	padding-top: 67px;	
	padding-bottom: 41px;
}*/
.main-title{
  	font-weight: 900;
  	font-size: 30px;
  	color: #666d89;
}
.main-title--info{
	margin-top: 33px;
	color:  #767e9e;
	font-size: 18px; 
	font-weight: 300;
	line-height: 30px;
}
.box-content{
	max-width: 32%;
	width: 100%;
	margin-top: 33px;
	margin-right: 2%;
}
.box-content:nth-child(3n+3){
	margin-right:0;
}
.box-content, .box-content--image, .box-content--text{
	display: inline-block;
	vertical-align: top;
}
.box-content--image{
	width: 55px;
	height: 55px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #666d89;
}
.box-content--image img{
	margin-top: 20%;
}
.box-content--text{
	margin-left: 20px;
	width: 220px;
}
.box-content--text h2{
	margin: 0;
	color: #666d89;	
	font-size: 18px;
	font-weight: 900;
}
.box-content--text p{
	color: #767e9e;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.56px;
}

.portfolio-page{
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}
.portfolio-page span{
	font-weight: 100;
}
.item-selectors{
	display: inline-block;
	margin-right: 10px;
	padding: 6px;
	color: #666d89;
	border: 1px solid #666d89;
	border-radius: 8px;
	list-style-type: none;
}
.item-selectors:hover{
	cursor: pointer;Fpadd
	color: #fff;
	border: 1px solid #dedede;
	transition: border .3s, color .3s;
}
.list-item-selectors{
	padding: 0px;
	margin: 0;
}
.list-item-selectors li{
	margin-bottom: 10px;
}
.item-gallery img{
	margin: 2%;
	margin-left: 0;
	margin-top: 0;
	max-width: 23%;
	width: 100%;

}
/*.item-gallery a:nth-child(4n+4) img{
	margin-right: 0;
}*/

.about-page{
	/*padding-top: 67px;	
	padding-bottom: 41px;*/
	background-color: #f2f2f2;
	border-bottom: 6px solid #fff;
}
.box-profile-container{
	margin-top: 30px;
}
.box-profile{
  	display: inline-block;
  	vertical-align: top;
  	margin-top: 19px;
  	max-width: 30%;
  	margin-right: 5%;

}
.box-profile:nth-child(3n+3){
  	margin-right: 0;
}
.avatar{
	width: 100%;
	height: 100%;
}
.box-profile p{
  	width: 100%;
}
.box-profile--info h2{
	color:  #666d89;
	font-size: 17.78px; 
	font-weight: 900;
	line-height: 5px;
}
.box-profile--info p{
	color:  #767e9e;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
}
.contact-el{
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	margin-right: 8px;
	border: 1px solid grey;
  	border-radius: 50%;
  	text-align: center;
  	cursor: pointer;
}
.contact-el:hover{
	opacity: .7;
}
.contact-el-img{
	margin-top: 7px;
}

.contact-page{
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}
.contact-container{
	margin-top: 48px;
}
.contact-form{
	display: inline-block;
	width: 67%;
}
.contact-form input, textarea{
	width: 100%;
	padding-top: 14px;
	padding-left: 15px; 
	border-radius: 5px;
	color: #f48c8f;
	background-color:  #d6564f;
	border: none;
	outline: none;

}
.contact-form input{
	padding-bottom: 13px;
	background-color:  #d6564f;
	border-radius: 5px;
}
.contact-form textarea{
	height: 202px;
	color: #f48c8f;
}
.contact-info{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	color:  #f0d8d9;
}
.contact-info h3{
	color:  #f0d8d9;
	font-size: 18px;
	font-weight: 900;
	line-height: 4.56px;
}
.contact-info{
	font-size: 12px;
  	font-weight: 400;
  	line-height: 22px;
  	margin-left: 21px;
}
.contact-info--details{
	margin-top: 31px;
}
.contact-info--details img{
	margin-right: 11px;
}

.footer-wrapper{
	background-color: #2d303a;
}
.footer-wrapper .wrapper-center{
	padding: 0;
}
.footer-wrapper p{
	display: inline-block;
	margin-top: 0px;
	padding-top: 33px;
	padding-bottom: 26px;
	color:  #494e62;
	font-size: 12px; 
	font-weight: 400;
	line-height: 4.56px; 
	text-align: justify;
}
.social-media{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 22px;
}
.social-media-icon{
	display: inline-block;
	width: 30px;
  	height: 30px;
  	text-align: center;
  	margin-right: 8px;
	padding-top: 5px;
  	border: 1px solid #606781;
  	border-radius: 50%;
  	cursor: pointer;
}
.social-media-icon:hover{
	opacity: .7;
	transition: border .3s, opacity .3s;
}